.resources {
  margin: 100px 20px;
}

h2 {
  color: orangered; 
  text-align: center;
  margin-bottom: 20px;
}

.resource-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  padding: 20px 0;
}

.resource-card{
  background-color: #1c1c1c; 
   border: 2px solid orangered; 
  border-radius: 40px;
  padding: 20px;
  width: 330px;
  box-shadow: 0px 4px 12px rgba(255, 140, 0, 0.5); 
  float: left;
  margin: 15px;
  margin-bottom: 50px;
  z-index: 10; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
}

.resource-card:hover
 {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
 }

.resource-card img 
{
  max-width: 80%; 
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); 
}
/* .clearfix::after {
  content: "";
  display: table;
  clear: both;
} */
.resources ul {
  list-style-type: none; 
  padding-left: 0; 
  text-align: left;
}

.resources ul li {
  margin: 15px 0;
  font-size: 18px;
}

.resources ul li a {
  text-decoration: none;
  color: orangered; 
  font-weight: bold;
}

.resources ul li a:hover 
{
  text-decoration: underline;
}

.resources ul li i {
  margin-right: 10px; /* Space between icon and text */
}

.resources details {
  background-color: #1c1c1c;
  /* border: 1px solid orangered; */
  /* border-radius: 5px; */
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  color: white;
  position: relative; 
 
}

.resources details[open] summary
 {
  color: rgba(255, 166, 0, 0.887);
}

.resources details ul {
  margin-top: 10px;
  padding-left: 20px;
  position: absolute; 
  top: 100%; 
  left: 0;
  background-color: #1c1c1c;
  width: 100%;
  z-index: 25;
  list-style-type: none;
  padding-left: 0;
  display: block;
}

.resources details ul li {
  margin-bottom: 10px;
  color: orangered;
  text-align: center;
}

.resources details ul li a {
  color: white;
  text-decoration: none;
}

.resources details ul li a:hover {
  text-decoration: underline;
  color: orangered;
}

.resources summary {
  font-size: 18px;
  font-weight: bold;
  color: white;
  outline: none;
  text-align: left;
  z-index: 1;
}

.resources summary:hover
{
  color: orangered;
}
.resources i
{
  color: orangered;
}